<ion-content class="no-scroll insta">
  <div class="top">
    <img [src]="image | cdvphotolibrary" />
  </div>

  <button *ngIf="mode == 'register' && step == 1" ion-button icon-left color="light" tappable (click)="setPhoto()" [disabled]="!emailPasswordForm.valid"
    outline small>
    <ion-icon name="camera"></ion-icon>
    Choose a Photo
  </button>

  <div class="form" *ngIf="mode == 'login'">
    <!-- <button class="clear" ion-button icon-only tappable (click)="mode = 'main'">
      <ion-icon name="md-close"></ion-icon>
    </button> -->
    <form [formGroup]="emailPasswordForm">
      <ion-list>
        <ion-item no-lines>
          <ion-label>Email</ion-label>
          <ion-input type="email" formControlName="email" placeholder="set your Email"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label>Password</ion-label>
          <ion-input type="password" formControlName="password" placeholder="set your Password"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button icon-left color="light" tappable (click)="login()" [disabled]="!emailPasswordForm.valid" outline block>
        <ion-icon name="md-key"></ion-icon>Log in to Instaclone</button>
    </form>
    <p tappable style="color: #f4f4f4;" (click)="clearForms(); mode = 'forgotPassword'">Forgot your Password?</p>

    <p style="text-align: center;font-size:15px;color: #f4f4f4">OR</p>
    <p tappable style="color: #f4f4f4;" (click)="clearForms(); mode = 'register'">Don't have an Account?
      <b>Sign Up</b>
    </p>
  </div>



  <div class="login"></div>
  <div class="bottom">
    <div class="buttons" *ngIf="mode == 'main'">
      <div>
        <button ion-button icon-left class="login" tappable (click)="clearForms(); mode = 'login'">Login </button>
        <p style="text-align: center;font-size:15px;color:rgb(0, 119, 255)">OR</p>
        <button ion-button icon-left class="dark" tappable (click)="clearForms(); mode = 'register'">Signup with your Email</button>
        <button ion-button icon-left class="facebook" tappable (click)="loginProvider.facebookLogin()">
          <ion-icon name="logo-facebook"></ion-icon>Facebook</button>
        <button ion-button icon-left class="google" tappable (click)="loginProvider.googleLogin()">
          <ion-icon name="logo-google"></ion-icon>Google</button>
        <button ion-button icon-left class="secondary" tappable (click)="loginProvider.guestLogin()">Guest of honour</button>
        <button ion-button clear tappable (click)="clearForms(); mode = 'forgotPassword'">You have forgot your password</button>

        <p style="text-align: center;font-size:0px;color:rgb(0, 119, 255)">Made by socode</p>
      </div>
    </div>


    <div class="form" *ngIf="mode == 'register'">
      <button class="clear" ion-button icon-only tappable (click)="mode = 'login'; step = 1; image = defaultImg">
        <ion-icon name="md-close"></ion-icon>
      </button>
      <div *ngIf="step == 1">
        <ion-list>
          <ion-item no-lines>
            <ion-label>Name</ion-label>
            <ion-input [(ngModel)]="name" type="text"  placeholder="set your Name"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label>User Name</ion-label>
            <ion-input [(ngModel)]="username" type="text"  placeholder="set your User Name"></ion-input>
          </ion-item>
        </ion-list>
        <button [disabled]="username ==='' || name ===''" ion-button icon-right color="light" tappable (click)="step = step + 1" outline>
          Next
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
      <div *ngIf="step == 2">
        <form [formGroup]="emailPasswordForm">
          <ion-list>
            <ion-item no-lines>
              <ion-label>Email</ion-label>
              <ion-input type="email" formControlName="email" placeholder="Your Email Address"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-label>Password</ion-label>
              <ion-input type="password" formControlName="password" placeholder="Create Password"></ion-input>
            </ion-item>
          </ion-list>

          <p style="text-align: center;font-size:15px;color: #f4f4f4">OR</p>
          <ion-list class="phone">
            <!-- <ion-item no-lines> -->
            <div class="item row">
              <div class="col">
                <label class="item-input item-select">
                  <div class="input-label">
                  </div>
                  <ion-select [(ngModel)]="countryCode" formControlName="countryCode" name="countryCode">
                    <ion-option *ngFor="let country of countries" [value]="country.dial_code">{{country.code}} {{country.dial_code}}</ion-option>
                  </ion-select>
                </label>
              </div>
              <div class="col">
                <div class="item-input-inset">
                  <label class="item-input-wrapper">
                    <ion-input [(ngModel)]="phone" formControlName="phone" name="phone" type="number"></ion-input>
                  </label>
                </div>
              </div>
            </div>
            <!-- </ion-item> -->
          </ion-list>
          <button ion-button icon-left color="light" tappable (click)="step = step - 1" outline>
            <ion-icon name="arrow-back"></ion-icon>
            Back
          </button>

          <button ion-button icon-left color="light" tappable (click)="register()" outline>
            <ion-icon name="md-log-in"></ion-icon>Signup!</button>
        </form>
      </div>

      <!-- 
         <p>By joining you agree to our <b>Terms</b> &amp; <b>Privacy Policy.</b></p>
      -->
    </div>


    <div class="form" *ngIf="mode == 'forgotPassword'">
      <button class="clear" ion-button icon-only tappable (click)="clearForms(); mode = 'login'">
        <ion-icon name="md-close"></ion-icon>
      </button>
      <form [formGroup]="emailForm">
        <ion-list>
          <ion-item no-lines>
            <ion-label>Email</ion-label>
            <ion-input type="email" formControlName="email" placeholder="Your Email Address"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button icon-left color="light" tappable (click)="forgotPassword()" [disabled]="!emailForm.valid" outline>
          <ion-icon name="md-unlock"></ion-icon>Reset Password</button>
      </form>
      <p tappable (click)="clearForms(); mode = 'login'">Password found?
        <b>Log in</b>
      </p>
    </div>
  </div>



</ion-content>