page-user-info {
    background-color: white;
    $image-size: 80px;
    $color: #262626;
    ion-item {
        border-bottom: none;
    }
    .likes {
        font-size: 1em;
    }
    .likes .icon {
        font-size: 1.2em;
    }
    .number {
        color: $color;
        font-weight: bolder;
        font-size: 1.8rem;
    }
    ion-segment .segment-activated {
        background-color: #fafafa !important;
    }
    .label {
        color: #BABABA;
        font-size: 1.6rem;
    }
    .img-avatar {
        width: $image-size !important;
        height: $image-size !important;
    }
    .item-md.item-block .item-inner {
        border: none;
    }
    .button-outline-md-light {
        color: $color;
    }
    .name {
        color: $color;
        font-weight: bolder;
    }
    .segment-button {
        color: #9F9F9F !important;
        border-color: white !important;
    }
    .segment-activated {
        border-color: white !important;
        color: #5498DC !important;
    }
    .segmentidivider {
        border-top-width: 1px;
        border-style: solid;
        border-color: lightgray;
    }
    .col-image {
        padding: 1px;
    }
    .card-content {
        padding-top: 0;
    }
    .circleBtnSuccess {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: blue;
    }
    .circleBtnDanger {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: green;
    }
    .favorite {
        color: #EB9532;
    }
    .card {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        width: calc(100%)
    }
    .button-large-md {
        font-size: 1.4rem !important;
    }
    .icon {
        font-size: 1.4em;
    }
    .timeago {
        color: #A6A6A6;
        font-size: 10px;
        text-transform: uppercase;
    }
    .image {
        position: relative;
        width: 100%;
    } // .favorite {
    //   color: #EB9532;
    // }
    // .profile {
    //   position: relative;
    //   overflow: hidden;
    //   height: 24vh;
    //   margin-bottom: -0.625em;
    //   img {
    //     width: 28vw;
    //     height: 28vw;
    //     border-radius: 100%;
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     margin: auto;
    //     object-fit: cover;
    //   }
    //   img.activated {
    //     opacity: 0.5;
    //   }
    // }
    // h4,
    // p {
    //   text-align: center;
    // }
    // h4 {
    //   margin: 0;
    //   padding: 0;
    //   color: #fff;
    // }
    // ion-item p {
    //   text-align: left;
    // }
    // ion-card p {
    //   text-align: left;
    // }
    // p.username {
    //   color: $primary;
    //   margin-bottom: -6px !important;
    //   margin-top: 6px !important;
    //   font-size: 115%;
    // }
    // p.description {
    //   width: 75vw;
    //   margin-left: auto;
    //   margin-right: auto;
    // }
    // p {
    //   color: $gray;
    // }
    // h4 span.activated,
    // p.activated {
    //   opacity: 0.5;
    // }
    // .divider {
    //   width: 12vw;
    //   border-bottom: solid 0.2em $primary;
    //   margin-left: auto;
    //   margin-right: auto;
    //   margin-bottom: 1em;
    // }
    // ion-icon {
    //   //color: #fff;
    //   font-size: 1.4em;
    // }
    // ion-icon.facebook {
    //   color: $facebook;
    // }
    // ion-icon.google {
    //   color: $google;
    // }
    // ion-icon.firebase {
    //   color: $primary;
    // }
    // button {
    //   border-radius: 0.75em !important;
    // }
    // button.danger {
    //   background: color($colors, danger);
    // }
    // button.danger.activated,
    // button.danger:active {
    //   background: color($colors, danger);
    // }
    // button.success {
    //   background: color($colors, balanced);
    // }
    // button.success.activated,
    // button.success:active {
    //   background: color($colors, balanced);
    // }
    // button.danger.activated,
    // button.danger:active,
    // button.success.activated,
    // button.success:active {
    //   opacity: 0.5 !important;
    // }
    // button.primary {
    //   background: $primary;
    // }
    // button.primary.activated,
    // button.primary:active {
    //   background: $primary-active;
    // }
    // button.dark {
    //   background: $dark;
    // }
    // button.dark.activated,
    // button.dark:active {
    //   background: $dark-active;
    // }
    // p.info {
    //   font-size: 110%;
    //   color: #fff;
    // }
    // .counter {
    //   text-align: center;    
    // }
    // .counter p {
    //   color: $dark;
    //   font-weight: 900;
    // }
    // ion-list {
    //   margin-top: 1.125em !important;
    //   ion-item {
    //     background: rgba(1, 1, 31, 0.3) !important;
    //     color: #fff !important;
    //   }
    //   ion-item.activated {
    //     background: rgba(128, 2, 2, 0.5) !important;
    //     color: $primary !important;
    //   }
    //   ion-item.activated ion-icon {
    //     color: $primary;
    //   }
    // }
}